@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Gilroy Medium';
    color: #2c2c2c;
}

li {
    list-style: none;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff5e1f;
}

.wrapper {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 30px 0;
}

.menu {
    text-align: center;
}

.menuItem {
    display: inline-block;
    margin: 0 15px;
}

a.link.link-active {
    color: #ff5e1f;
}

.main {
    padding: 60px 0;
}

.titleBlock {
    display: flex;
    align-items: center;
}

.titleLine, .title {
    display: block;
}

.titleLine {
    margin: 0 20px 0 100px;
}

.title {
    font-family: 'Gilroy Bold';
}

.beginningText {
    text-align: justify;
    text-indent: 35px;
    margin-top: 50px;
}

.section {
    display: flex;
    justify-content: center;
    margin: 65px 0;
    height: 270px;
}

#last {
    margin-bottom: 0;
}

.imageWrapper {
    width: 30%;
    position: relative;
}

.img, .sqrt, .number {
    position: absolute;
}

.img {
    display: block;
    width: 100%;
    z-index: 1;
}

.sqrt {
    width: 150px;
    height: 150px;
    background-color: #0f69da;
    opacity: 0.5;
    z-index: 0;
    top: 115px;
}

.sqrt.sqrt-left {
    left: -25px;
}

.sqrt.sqrt-right {
    right: -25px;
}

.number {
    font-family: 'Gilroy Bold';
    font-size: 30px;
    color: #ff5e1f;
    top: 230px;
    right: -15px;
}

.number.left {
    left: -15px;
}

.text {
    width: 45%;
}

.text.text-left {
    padding-left: 60px;
}

.text.text-right {
    padding-right: 60px;
}

.paragraphTitle {
    color: #0f69da;
    margin-bottom: 15px;
}