@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

/* colors:
    dark - #2c2c2c
    blue - #0f69da
    orange - #ff5e1f
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Gilroy Medium';
    color: #2c2c2c;
}

li {
    list-style: none;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff5e1f;
}

.wrapper {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 30px 0;
}

.menu {
    text-align: center;
}

.menuItem {
    display: inline-block;
    margin: 0 15px;
}

a.link.link-active {
    color: #ff5e1f;
}

.main {
    padding: 60px 0;
}

.section {
    position: relative;
    height: 530px;
}

.mainTitle {
    font-size: 30px;
    font-family: 'Gilroy Extra Bold';
    text-transform: uppercase;
    margin-bottom: 40px;
}

.mainImage {
    width: 100%;
    z-index: 17;
}

.mainImage, .img2, .img3, .img4, .img5, .sqrt1, .sqrt2, .sqrt3, .sqrt4, .line1, .line2 {
    position: absolute;
}

.img2, .img3, .img4, .img5 {
    width: 30%;
    z-index: 1;
}

.img5 {
    bottom: 40px;
    left: 30px;
    z-index: 3;
}

.img4 {
    top: 120px;
    right: 0;
    z-index: 18;
}

.img3 {
    bottom: 50px;
    right: 220px;
    z-index: 13;
}

.img2 {
    top: 100px;
    left: 275px;
    z-index: 15;
}

.sqrt1, .sqrt2, .sqrt3, .sqrt4 {
    background-color: #0f69da;
}

.sqrt1 {
    width: 325px;
    height: 325px;
    opacity: 0.75;
    top: 125px;
    left: 140px;
    z-index: 16;
}

.sqrt2 {
    width: 175px;
    height: 175px;
    opacity: 0.5;
    top: 190px;
    right: 420px;
}

.sqrt3 {
    width: 225px;
    height: 225px;
    opacity: 0.75;
    top: 145px;
    right: 140px;
    z-index: 18;
}

.sqrt4 {
    width: 150px;
    height: 150px;
    opacity: 0.5;
    bottom: 40px;
    right: 20px;
    z-index: 3;
}

.line1 {
    top: 270px;
    left: 410px;
    z-index: 16;
}

.line2 {
    top: 415px;
    left: 85px;
    z-index: 16;
}

.text {
    text-align: justify;
    text-indent: 35px;
}