@font-face {
    font-family: 'Gilroy Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Gilroy Medium';
    color: #2c2c2c;
}

li {
    list-style: none;
}

a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff5e1f;
}

.wrapper {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    padding: 30px 0;
}

.menu {
    text-align: center;
}

.menuItem {
    display: inline-block;
    margin: 0 15px;
}

a.link.link-active {
    color: #ff5e1f;
}

.main {
    padding: 60px 0;
}

.titleBlock {
    display: flex;
    align-items: center;
}

.titleLine, .title {
    display: block;
}

.titleLine {
    margin: 0 20px 0 100px;
}

.title {
    font-family: 'Gilroy Bold';
}

.beginningText {
    text-align: justify;
    text-indent: 35px;
    margin-top: 50px;
}

.section {
    display: flex;
    padding: 50px 0 0;
}

.img {
    width: 30%;
    margin: 30px 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 125px;
}

.paragraph {
    display: flex;
    align-items: flex-start;
}

.paragraphText {
    display: block;
}

.number {
    transform: rotate(-90deg);
    line-height: 1.5;
    padding: 0 20px;
    font-family: 'Gilroy Bold';
    font-size: 35px;
    color: #0f69da;
}

.bold {
    font-family: 'Gilroy Bold';
}